## Блок 2 - Простые расчёты в таблицах

In [51]:
# Импорт библиотеки pandas, чтение csv-файла и вывод "головы" датафрейма
import pandas as pd
data = pd.read_csv('module_04_keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [52]:
# Вводим новый солбец daily_shows содержащий среднее количество запросов за 1 день
data['daily_shows'] = data['shows'] / 11
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

In [27]:
# Вводим столбец ratio являющийся отношением daily_shows к shows
data['ratio'] = data['daily_shows'] / data['shows']
data.head()

         keyword     shows   daily_shows     ratio
0             вк  64292779  5.844798e+06  0.090909
1  одноклассники  63810309  5.800937e+06  0.090909
2          порно  41747114  3.795192e+06  0.090909
3           ютуб  39995567  3.635961e+06  0.090909
4      вконтакте  21014195  1.910381e+06  0.090909

In [28]:
# Считаем среднее значение столбца ratio и округляем его до 3 знаков после запятой
round (data['ratio'].mean(), 3)

0.091

In [23]:
# Уаляем столбец ratio 1ым способом
del data['ratio']
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

In [26]:
# Уаляем столбец ratio 2ым способом
data.drop(['ratio'], axis=1, inplace=True)
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

## Блок 03 - Строковые и lambda-функции

In [53]:
# Отфильтровываем датафрейм по ключевому слову "недвиж"
data = data[data['keyword'].str.contains('недвиж', case=False)].reset_index()
len(data)

142

In [43]:
data.head()

   index                       keyword  shows  daily_shows
0   2806      циан недвижимость москва  78729  7157.181818
1   3054            авито недвижимость  74037  6730.636364
2   3066                  недвижимость  72984  6634.909091
3   4273               е1 недвижимость  56277  5116.090909
4   4912  нгс недвижимость новосибирск  54149  4922.636364

In [55]:
# Вводим новый столбец split для подсчёта количества слов в запросах
data['split'] = data['keyword'].str.split(' ')
data.head()

,index,keyword,shows,daily_shows,split
0,2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]"
1,3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]"
2,3066,недвижимость,72984,6634.909091,[недвижимость]
3,4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]"
4,4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]"

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        142 non-null    int64
 1   keyword      142 non-null    object
 2   shows        142 non-null    int64
 3   daily_shows  142 non-null    float64
 4   split        142 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ KB

In [56]:
type(data.loc[0]['split'])

list

In [57]:
# Подсчитаем с помощью лямбда-функции количество слов в каждом запросе и занесём результат 
# в столбец word_count
data['word_count'] = data['split'].apply(lambda x: len(x))
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634.909091,[недвижимость],1
3,4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]",3

In [58]:
data['daily_shows'] = data['daily_shows'].apply(lambda x: int(x))

In [59]:
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634,[недвижимость],1
3,4273,е1 недвижимость,56277,5116,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922,"[нгс, недвижимость, новосибирск]",3

In [61]:
data.sort_values(by = 'shows', ascending=False)
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634,[недвижимость],1
3,4273,е1 недвижимость,56277,5116,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922,"[нгс, недвижимость, новосибирск]",3

In [62]:
data['word_count'].value_counts()

3    72
2    25
4    20
5    12
6     7
8     3
1     1
7     1
9     1
Name: word_count, dtype: int64

## Блок 04 - Сложные функции для датафреймов и работа с ссылками

In [3]:
# Импорт библиотеки Pandas и открытие файла module_04_ad_campaigns.xlsx
import pandas as pd
ad_stats = pd.read_excel('module_04_ad_campaigns.xlsx')
ad_stats.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка,Unnamed: 7,Unnamed: 8
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN

In [16]:
# Переименование столбцов из кириллицы в латиницу
ad_stats.rename(columns={'Название группы': 'group', 'Фраза (с минус-словами)': 'phrase', 
                         'Продуктивность': 'effect', 'ID объявления': 'ad_id', 
                         'Заголовок': 'title','Текст': 'text', 'Ссылка': 'link'}, inplace=True)
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN

In [5]:
url = ad_stats.loc[0, 'link']

In [6]:
url

'https://awesome-site.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [8]:
# Импорт метода parse из библиотеки urllib
from urllib import parse

In [9]:
parsed = parse.urlsplit(url)
parsed

SplitResult(scheme='https', netloc='awesome-site.ru', path='/', query='utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}', fragment='')

In [10]:
print(parsed.netloc)

awesome-site.ru

In [13]:
# Записываем параметры ссылки в переменну query_string
query_string = parsed.query
query_string

'utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [14]:
# Преобразуем строку с параметрами в словарь
params_dict = parse.parse_qs(query_string)
params_dict

{'utm_source': ['yandex'],
 'utm_medium': ['cpc'],
 'utm_campaign': ['a825749b87'],
 'utm_content': ['dev_{device_type}']}

In [15]:
params_dict['utm_campaign'][0]

'a825749b87'

In [17]:
# Теперь всё оформим в виде функции для работы с датафреймом и примениним её
def campaign_name(row):
    parsed = parse.urlsplit(row['link'])
    params_dict = parse.parse_qs(parsed.query)
    return params_dict['utm_campaign'][0]

ad_stats['campaign'] = ad_stats.apply(campaign_name, axis = 1)
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8,campaign
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca

In [23]:
# Считаем количество символов в ячейках столбца campaign 
ad_stats['count'] = ad_stats['campaign'].apply(lambda x: len(x))
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8,campaign,count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10

In [24]:
# Считаем среднее значение по всему столбцу
print(ad_stats['count'].mean())

10.0

In [25]:
ad_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   group       2159 non-null   object
 1   phrase      2159 non-null   object
 2   effect      2159 non-null   float64
 3   ad_id       2159 non-null   int64
 4   title       2159 non-null   object
 5   text        2159 non-null   object
 6   link        2159 non-null   object
 7   Unnamed: 7  0 non-null      float64
 8   Unnamed: 8  0 non-null      float64
 9   campaign    2159 non-null   object
 10  count       2159 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 185.7+ KB