In [3]:
for i in range(1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [5]:
weekdays = ['понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота', 'воскресенье']

In [7]:
for day in weekdays:
    print('Сегодня ' + day)

Сегодня понедельник
Сегодня вторник
Сегодня среда
Сегодня четверг
Сегодня пятница
Сегодня суббота
Сегодня воскресенье

In [8]:
print('Сегодня {:.4%}'.format(day))

<class 'ValueError'>: Unknown format code '%' for object of type 'str'

In [9]:
print('Сегодня {:.2f}'.format(day))

<class 'ValueError'>: Unknown format code 'f' for object of type 'str'

In [10]:
print('Сегодня {}'.format(day))

Сегодня воскресенье

In [14]:
direct_revenue = [83171, 151604, 46315, 98753, 208648, 184682, 204061, 134911, 94791, 109076, 37254, 224991, 36400, 149320, 171336, 83854, 206799, 180922, 235647, 217546, 200478, 239445, 144901, 26522, 177971, 148458, 154937, 196095, 140202, 189223]

In [15]:
week_1_revenue = direct_revenue[:7]

In [16]:
week_1_revenue

[83171, 151604, 46315, 98753, 208648, 184682, 204061]

In [17]:
len(direct_revenue)

30

In [64]:
summa = 0
step = 0
for revenue in week_1_revenue:
    step += 1
    print ('Шаг: ' + str(step))
    print ('Значение: ' + str(revenue))
    summa += revenue
    print ('Сумма: ' + str(summa))
print (' ')
print ('Среднее: ' + str(summa / len(week_1_revenue)))

Шаг: 1
Значение: 83171
Сумма: 83171
Шаг: 2
Значение: 151604
Сумма: 234775
Шаг: 3
Значение: 46315
Сумма: 281090
Шаг: 4
Значение: 98753
Сумма: 379843
Шаг: 5
Значение: 208648
Сумма: 588491
Шаг: 6
Значение: 184682
Сумма: 773173
Шаг: 7
Значение: 204061
Сумма: 977234

Среднее: 139604.85714285713

In [58]:
minValue = 4
maxValue = 18
numbers = []

In [59]:
for number in range(minValue, maxValue+1):
    print(number)
    numbers.append(number)
print (numbers)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [60]:
square_numbers = numbers[0::2]
square_numbers

[4, 6, 8, 10, 12, 14, 16, 18]

In [61]:
for sn in square_numbers:
    print (sn**0.5)

2.0
2.449489742783178
2.8284271247461903
3.1622776601683795
3.4641016151377544
3.7416573867739413
4.0
4.242640687119285

In [69]:
queriesList = "смотреть сериалы онлайн".split(' ')

In [70]:
queriesList

['смотреть', 'сериалы', 'онлайн']

In [71]:
len(queriesList)

3

In [68]:
queriesText = 'смотреть сериалы онлайн;новости спорта;афиша кино;курс доллара;сериалы этим летом;курс по питону;сериалы про спорт'

In [77]:
queriesList2 = queriesText.split(';')
queriesList2

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [78]:
len(queriesList2)

7

In [85]:
for text in queriesList2:
    queriesList3 += text.split(' ')
len(queriesList3)

57

In [91]:
a = 5

In [92]:
if a == 5:
    print('Результат вычислений корректный')
else:
    print('Результат вычислений ошибочный')

Результат вычислений корректный

In [93]:
VK = 1400 / 1500

In [94]:
VK

0.9333333333333333

In [95]:
FB = 1700 / 2200

In [96]:
FB

0.7727272727272727

In [100]:
if VK > FB:
    print('VK win!')
elif VK < FB:
    print('FB win!')
elif VK == FB:
    print('Same result!')

VK win!