## Блок 2 - Простые расчёты в таблицах

In [51]:
# Импорт библиотеки pandas, чтение csv-файла и вывод "головы" датафрейма
import pandas as pd
data = pd.read_csv('module_04_keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [52]:
# Вводим новый солбец daily_shows содержащий среднее количество запросов за 1 день
data['daily_shows'] = data['shows'] / 11
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

In [27]:
# Вводим столбец ratio являющийся отношением daily_shows к shows
data['ratio'] = data['daily_shows'] / data['shows']
data.head()

         keyword     shows   daily_shows     ratio
0             вк  64292779  5.844798e+06  0.090909
1  одноклассники  63810309  5.800937e+06  0.090909
2          порно  41747114  3.795192e+06  0.090909
3           ютуб  39995567  3.635961e+06  0.090909
4      вконтакте  21014195  1.910381e+06  0.090909

In [28]:
# Считаем среднее значение столбца ratio и округляем его до 3 знаков после запятой
round (data['ratio'].mean(), 3)

0.091

In [23]:
# Уаляем столбец ratio 1ым способом
del data['ratio']
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

In [26]:
# Уаляем столбец ratio 2ым способом
data.drop(['ratio'], axis=1, inplace=True)
data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

## Блок 03 - Строковые и lambda-функции

In [53]:
# Отфильтровываем датафрейм по ключевому слову "недвиж"
data = data[data['keyword'].str.contains('недвиж', case=False)].reset_index()
len(data)

142

In [43]:
data.head()

   index                       keyword  shows  daily_shows
0   2806      циан недвижимость москва  78729  7157.181818
1   3054            авито недвижимость  74037  6730.636364
2   3066                  недвижимость  72984  6634.909091
3   4273               е1 недвижимость  56277  5116.090909
4   4912  нгс недвижимость новосибирск  54149  4922.636364

In [55]:
# Вводим новый столбец split для подсчёта количества слов в запросах
data['split'] = data['keyword'].str.split(' ')
data.head()

,index,keyword,shows,daily_shows,split
0,2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]"
1,3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]"
2,3066,недвижимость,72984,6634.909091,[недвижимость]
3,4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]"
4,4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]"

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        142 non-null    int64
 1   keyword      142 non-null    object
 2   shows        142 non-null    int64
 3   daily_shows  142 non-null    float64
 4   split        142 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ KB

In [56]:
type(data.loc[0]['split'])

list

In [57]:
# Подсчитаем с помощью лямбда-функции количество слов в каждом запросе и занесём результат 
# в столбец word_count
data['word_count'] = data['split'].apply(lambda x: len(x))
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634.909091,[недвижимость],1
3,4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]",3

In [58]:
data['daily_shows'] = data['daily_shows'].apply(lambda x: int(x))

In [59]:
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634,[недвижимость],1
3,4273,е1 недвижимость,56277,5116,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922,"[нгс, недвижимость, новосибирск]",3

In [61]:
data.sort_values(by = 'shows', ascending=False)
data.head()

,index,keyword,shows,daily_shows,split,word_count
0,2806,циан недвижимость москва,78729,7157,"[циан, недвижимость, москва]",3
1,3054,авито недвижимость,74037,6730,"[авито, недвижимость]",2
2,3066,недвижимость,72984,6634,[недвижимость],1
3,4273,е1 недвижимость,56277,5116,"[е1, недвижимость]",2
4,4912,нгс недвижимость новосибирск,54149,4922,"[нгс, недвижимость, новосибирск]",3

In [62]:
data['word_count'].value_counts()

3    72
2    25
4    20
5    12
6     7
8     3
1     1
7     1
9     1
Name: word_count, dtype: int64

## Блок 04 - Сложные функции для датафреймов и работа с ссылками

In [5]:
# Импорт библиотеки Pandas и открытие файла module_04_ad_campaigns.xlsx
import pandas as pd
ad_stats = pd.read_excel('module_04_ad_campaigns.xlsx')
ad_stats.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка,Unnamed: 7,Unnamed: 8
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN

In [6]:
# Переименование столбцов из кириллицы в латиницу
ad_stats.rename(columns={'Название группы': 'group', 'Фраза (с минус-словами)': 'phrase', 
                         'Продуктивность': 'effect', 'ID объявления': 'ad_id', 
                         'Заголовок': 'title','Текст': 'text', 'Ссылка': 'link'}, inplace=True)
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN

In [7]:
url = ad_stats.loc[0, 'link']

In [8]:
url

'https://awesome-site.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [9]:
# Импорт метода parse из библиотеки urllib
from urllib import parse

In [10]:
parsed = parse.urlsplit(url)
parsed

SplitResult(scheme='https', netloc='awesome-site.ru', path='/', query='utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}', fragment='')

In [11]:
print(parsed.netloc)

awesome-site.ru

In [12]:
# Записываем параметры ссылки в переменну query_string
query_string = parsed.query
query_string

'utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [13]:
# Преобразуем строку с параметрами в словарь
params_dict = parse.parse_qs(query_string)
params_dict

{'utm_source': ['yandex'],
 'utm_medium': ['cpc'],
 'utm_campaign': ['a825749b87'],
 'utm_content': ['dev_{device_type}']}

In [14]:
params_dict['utm_campaign'][0]

'a825749b87'

In [17]:
# Теперь всё оформим в виде функции для работы с датафреймом и примениним её
def campaign_name(row):
    parsed = parse.urlsplit(row['link'])
    params_dict = parse.parse_qs(parsed.query)
    return params_dict['utm_campaign'][0]

ad_stats['campaign'] = ad_stats.apply(campaign_name, axis = 1)
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8,campaign,count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10

In [18]:
# Считаем количество символов в ячейках столбца campaign 
ad_stats['count'] = ad_stats['campaign'].apply(lambda x: len(x))
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,Unnamed: 7,Unnamed: 8,campaign,count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,a825749b87,10
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,NaN,NaN,9cc0c5f6ca,10

In [19]:
# Считаем среднее значение по всему столбцу
print(ad_stats['count'].mean())

10.0

In [20]:
ad_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   group       2159 non-null   object
 1   phrase      2159 non-null   object
 2   effect      2159 non-null   float64
 3   ad_id       2159 non-null   int64
 4   title       2159 non-null   object
 5   text        2159 non-null   object
 6   link        2159 non-null   object
 7   Unnamed: 7  0 non-null      float64
 8   Unnamed: 8  0 non-null      float64
 9   campaign    2159 non-null   object
 10  count       2159 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 185.7+ KB

## Блок 05 - Группировки

In [27]:
# Для подготовки датафрейма повторяем все шаги из блока №4
# Удаляем два ненужных столбца Unnamed: 7 и Unnamed: 8
ad_stats = ad_stats.drop(['Unnamed: 7', 'Unnamed: 8'], axis = 1)

In [28]:
ad_stats['campaign'].value_counts().head()

7f35591a28    456
8e77a0e565    348
2cc2e7d770    240
f6d2ae1e3d    220
e90f4db55a    218
Name: campaign, dtype: int64

In [29]:
ad_stats.groupby('campaign').count().head()

            group  phrase  effect  ad_id  title  text  link  count
campaign
034ada41b6      3       3       3      3      3     3     3      3
03fcaecd1d      2       2       2      2      2     2     2      2
0697a81555      2       2       2      2      2     2     2      2
08cdcb57a3      3       3       3      3      3     3     3      3
0f0ba311fb      2       2       2      2      2     2     2      2

In [30]:
ad_stats.groupby('campaign').count().reset_index().head()

     campaign  group  phrase  effect  ad_id  title  text  link  count
0  034ada41b6      3       3       3      3      3     3     3      3
1  03fcaecd1d      2       2       2      2      2     2     2      2
2  0697a81555      2       2       2      2      2     2     2      2
3  08cdcb57a3      3       3       3      3      3     3     3      3
4  0f0ba311fb      2       2       2      2      2     2     2      2

In [31]:
ad_stats.groupby('campaign').count().reset_index().sort_values('group', ascending=False).head()

       campaign  group  phrase  effect  ad_id  title  text  link  count
62   7f35591a28    456     456     456    456    456   456   456    456
69   8e77a0e565    348     348     348    348    348   348   348    348
22   2cc2e7d770    240     240     240    240    240   240   240    240
110  f6d2ae1e3d    220     220     220    220    220   220   220    220
105  e90f4db55a    218     218     218    218    218   218   218    218

In [32]:
ad_stats.groupby('campaign').sum().sort_values('effect').head()

            effect       ad_id  count
campaign
63153306ff     2.8  2428554756     10
f80e902d76     3.3  2101705003     10
5a7508fa8d     3.5  2428554764     10
d5b16c7769     3.6  3401169381     10
7b17b2d188     5.8  2101705006     10

In [51]:
# Для каждой кампании campaign найти минимальное значение столбца effect
# и построить рейтинг кампаний по этим значениям, начиная с самого низкого.

ad_stats.groupby('campaign').min('effect').reset_index().sort_values('effect')

       campaign  effect       ad_id  count  phrase_length
69   8e77a0e565     1.6  2101705401     10             10
62   7f35591a28     1.7  2101705009     10              9
93   be97523396     1.8  2101705493     10             15
100  d96029561c     1.8  2428555742     10             27
86   acc3077e55     1.9  2428554791     10             18
..          ...     ...         ...    ...            ...
80   9ee3e2c876     7.7  3826704855     10             18
20   28d8dca4df     8.4  2428554835     10             27
106  eb577faed1     8.5  3401169402     10             33
97   d0712ff587     8.7  2428554887     10             22
15   23d6da5a5a     8.7  3826704862     10             20

[115 rows x 5 columns]

In [48]:
ad_stats.groupby('campaign').agg(['min', 'max']).head()

                                        group                                  \
                                          min                             max
campaign
034ada41b6  в москве открытого типа адрес мрт           в недорого москва мрт
03fcaecd1d          сделать мрт сущевский вал       сделать мрт сущевский вал
0697a81555     мрт позвоночника сущевский вал  мрт позвоночника сущевский вал
08cdcb57a3                 мрт в москве в сао                         мрт сао
0f0ba311fb            сделать мрт октябрьский         сделать мрт октябрьский

                                               phrase  \
                                                  min
campaign
034ada41b6  "!в !москве !открытого !типа !адрес !мрт"
03fcaecd1d                    "сделать мрт стромынка"
0697a81555               "мрт позвоночника стромынка"
08cdcb57a3                                "!мрт !сао"
0f0ba311fb               "сделать мрт новослободская"

                                                              effect       \
                                                          max    min  max
campaign
034ada41b6            в москве открытого типа адрес мрт -цена    4.1  9.0
03fcaecd1d                              сделать мрт стромынка    4.0  6.5
0697a81555                         мрт позвоночника стромынка    4.0  5.5
08cdcb57a3  мрт сао -головы -москве -позвоночника -сделать...    5.5  7.4
0f0ba311fb                         сделать мрт новослободская    4.4  6.4

                 ad_id                                          title  \
                   min         max                                min
campaign
034ada41b6  2428554779  2428554779  Адрес МРТ открытого типа в Москве
03fcaecd1d  2101705759  2101705759     Сделайте МРТ на ул. Стромынка!
0697a81555  2101706415  2101706415  МРТ позвоночника на ул. Стромынка
08cdcb57a3  2101705000  2101705000       МРТ в САО от 2000₽. Звоните!
0f0ba311fb  2101705726  2101705726     Сделайте МРТ на Новослободской

                                               \
                                          max
campaign
034ada41b6  Адрес МРТ открытого типа в Москве
03fcaecd1d     Сделайте МРТ на ул. Стромынка!
0697a81555  МРТ позвоночника на ул. Стромынка
08cdcb57a3       МРТ в САО от 2000₽. Звоните!
0f0ba311fb     Сделайте МРТ на Новослободской

                                                         text  \
                                                          min
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...

                                                               \
                                                          max
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...

                                                         link  \
                                                          min
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...

                                                              count
                                                          max   min max
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...    10  10
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...    10  10
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...    10  10
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...    10  10
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...    10  10

In [49]:
ad_stats.groupby('campaign').agg(['min', 'max'])['effect'].head()

            min  max
campaign
034ada41b6  4.1  9.0
03fcaecd1d  4.0  6.5
0697a81555  4.0  5.5
08cdcb57a3  5.5  7.4
0f0ba311fb  4.4  6.4

In [50]:
# Проверяем рекламные фразы какой длины имеют большее значение столбца effect

ad_stats['phrase_length'] = ad_stats.apply(lambda row: len(row['phrase']), axis=1)
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,campaign,count,phrase_length
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,21
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,19
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,54
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,10,11
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,10,9

In [54]:
# и для каждой кампании для столбца 'effect' посчитаем минимальное и максимальное значение,
# а для столбца 'phrase_length' - среднее значение.

ad_stats.groupby('campaign').agg({'effect': ['min', 'max'], 'phrase_length': 'mean'}).head()

           effect      phrase_length
              min  max          mean
campaign
034ada41b6    4.1  9.0     38.333333
03fcaecd1d    4.0  6.5     22.000000
0697a81555    4.0  5.5     27.000000
08cdcb57a3    5.5  7.4     24.000000
0f0ba311fb    4.4  6.4     27.000000

In [59]:
# Посмотрим сколько и каких различных рекламных объявлений входит в каждую группу

ad_stats.groupby(['group', 'campaign']).count().head()

                                 phrase  effect  ad_id  title  text  link  \
group                campaign
1 5 москва мрт тесла 777160ba51       1       1      1      1     1     1
                     8e77a0e565       1       1      1      1     1     1
                     f0079349af       1       1      1      1     1     1
1 градская мрт       7f35591a28       3       3      3      3     3     3
1 мрт нагатинский    8e77a0e565       1       1      1      1     1     1

                                 count  phrase_length
group                campaign
1 5 москва мрт тесла 777160ba51      1              1
                     8e77a0e565      1              1
                     f0079349af      1              1
1 градская мрт       7f35591a28      3              3
1 мрт нагатинский    8e77a0e565      1              1

In [60]:
# Добавим сортировку, чтобы сразу увидеть максимальное число объявлений в одной группе:

ad_stats.groupby(['group', 'campaign']).count().sort_values('phrase', ascending=False).head()

,,phrase,effect,ad_id,title,text,link,count,phrase_length
group,campaign,,,,,,,,
мрт на алексеевской кулаков переулок 13,7f35591a28,3,3,3,3,3,3,3,3
мрт каширское шоссе,7f35591a28,3,3,3,3,3,3,3,3
мрт кутузовский,7f35591a28,3,3,3,3,3,3,3,3
мрт куркинское шоссе 30,7f35591a28,3,3,3,3,3,3,3,3
мрт куркино,7f35591a28,3,3,3,3,3,3,3,3

In [62]:
ad_stats

,group,phrase,effect,ad_id,title,text,link,campaign,count,phrase_length
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,21
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,19
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,10,54
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,10,11
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,10,9
...,...,...,...,...,...,...,...,...,...,...
2154,мрт палиха,"""мрт вднх""",7.4,3826704858,МРТ на ВДНХ в Москве от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9bf072c32b,10,10
2155,клиника москва мрт,мрт вднх -головы -касаткина -позвоночника -сде...,7.2,3826704858,МРТ на ВДНХ в Москве от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9bf072c32b,10,64
2156,клиника москва мрт,мрт палиха -10 -головы -позвоночника -сделать ...,7.4,3826704860,МРТ на ул. Палиха от 2 000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a117c5fc1b,10,63
2157,клиника москва мрт,"""клиника москва мрт""",8.7,3826704862,Клиники МРТ в Москве. От 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,23d6da5a5a,10,20
2158,10 мрт палиха,"""!клиника !москва !мрт""",8.7,3826704862,Клиники МРТ в Москве. От 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,23d6da5a5a,10,23

In [80]:
# Ищем кампанию имеющую наименьшую сумму по столбцу effect

ad_stats.groupby('campaign').sum('effect').sort_values('effect').head()

            effect       ad_id  count  phrase_length
campaign
63153306ff     2.8  2428554756     10             27
f80e902d76     3.3  2101705003     10             18
5a7508fa8d     3.5  2428554764     10             22
d5b16c7769     3.6  3401169381     10             19
7b17b2d188     5.8  2101705006     10             14