# Модуль 08 - Работа с датами
## Блок 01 - Введение

In [1]:
!head syslogs.data

"head" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.

In [2]:
from datetime import datetime

In [3]:
with open('syslogs.data', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        print(datetime.strptime(line, '%d.%m.%YT%H:%M')) #.hour
        break

FileNotFoundError: [Errno 2] No such file or directory: 'syslogs.data'

In [4]:
stats = {}

i = 0
with open('syslogs.data', 'r') as f:
    for line in f:
        line = line.strip()
        dt = datetime.strptime(line, '%d.%m.%YT%H:%M') #.hour чтобы получить только час
        
        hour = dt.hour
        
        stats.setdefault(hour, 0)
        stats[hour] += 1
        i += 1
        if i % 100000 == 0:
            print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'syslogs.data'

In [5]:
stats

{}

## Блок 02 - Распознавание дат

In [6]:
from datetime import datetime, timedelta

date_string = '05.10.2016 23:18'
datetime.strptime(date_string, '%d.%m.%Y %H:%M')

datetime.datetime(2016, 10, 5, 23, 18)

In [7]:
datetime.strptime(date_string, '%Y %H:%M')

ValueError: time data '05.10.2016 23:18' does not match format '%Y %H:%M'

In [9]:
date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')
type(date_datetime)

datetime.datetime

In [10]:
date_datetime.year

2016

In [11]:
date_datetime.hour

23

In [14]:
# С помощью метода datetime.strptime переведите строку 'May 9 2017 9:00AM' в формат datetime.
test = datetime.strptime('May 9 2017 9:00AM', '%b %d %Y %H:%M%p')
test

datetime.datetime(2017, 5, 9, 9, 0)

In [18]:
# Выделите и запишите номер часа в этой дате (в виде целого числа).
test.hour

9

## Блок 03 - Прибавление интервала и строки

In [20]:
# Переводим строку в тип datetime
startDate = '2017-01-01'
startDate_datetime = datetime.strptime(startDate, '%Y-%m-%d')

In [21]:
# Добавляем 1 день
startDate_datetime + timedelta(days = 1)

datetime.datetime(2017, 1, 2, 0, 0)

In [22]:
# Вычитаем 7 дней
startDate_datetime + timedelta(days = -7)

datetime.datetime(2016, 12, 25, 0, 0)

In [23]:
# Добавляем 1 час
startDate_datetime + timedelta(hours = 1)

datetime.datetime(2017, 1, 1, 1, 0)

In [25]:
test_2 = test + timedelta(hours = 1)
test_2

datetime.datetime(2017, 5, 9, 10, 0)

In [26]:
# Переводим datetime в string
test_2.strftime('%Y-%m-%d')

'2017-05-09'

## Блок 04 - Перебор дат в цикле

In [27]:
startDate = '2017-01-01'
endDate = '2017-01-07'

startDate_datetime = datetime.strptime(startDate, '%Y-%m-%d')
endDate_datetime = datetime.strptime(endDate, '%Y-%m-%d')
print(startDate_datetime, endDate_datetime)

2017-01-01 00:00:00 2017-01-07 00:00:00

In [28]:
current_day = startDate_datetime

a = 1
while a < 5:
    print(a)
    a += 1

1
2
3
4

In [29]:
while current_day <= endDate_datetime:
    print(current_day)
    current_day += timedelta(days = 1)

2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00

In [30]:
current_day = startDate_datetime
while current_day <= endDate_datetime:
    print(current_day.strftime('%Y-%m-%d'))
    current_day += timedelta(days = 1)

2017-01-01
2017-01-02
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-07

In [34]:
# Алгоритм, который «пробегает» период 1 до 3 января включительно по часам.
# Формат вывода '%Y-%m-%d %H:%M:%S'

startDate = '2017-01-01 00:00:00'
endDate = '2017-01-04 00:00:00'

startDate_datetime = datetime.strptime(startDate, '%Y-%m-%d %H:%M:%S')
endDate_datetime = datetime.strptime(endDate, '%Y-%m-%d %H:%M:%S')
current_day = startDate_datetime
while current_day < endDate_datetime:
    print(current_day.strftime('%Y-%m-%d %H:%M:%S'))
    current_day += timedelta(hours = 1)

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00
2017-01-03 01:00:00
2017-01-03 02:00:00
2017-01-03 03:00:00
2017-01-03 04:00:00
2017-01-03 05:00:00
2017-01-03 06:00:00
2017-01-03 07:00:00
2017-01-03 08:00:00
2017-01-03 09:00:00
2017-01-03 10:00:00
2017-01-03 11:00:00
2017-01-03 12:00:00
2017-01-03 13:00:00
2017-01-03 14:00:00
2017-01-03 15:00:00
2017-01-03 16:00:00
2017-01-03 17:00:00
2017-01-03 18:00:00
2017-01-03 19:00:00
2017-01-03 20:00:00
2017-01-03 21:00:00
2017-01-03 22:00:00
2017-01-03 23:00:00

In [37]:
# Возвращает список дат между start_date и end_date с шагом в день.
# Если start_date > end_date, то возвращает пустой список.
# Пример
# date_range('2018-01-01', '2018-01-07')
# [
# '2018-01-01',
# '2018-01-02',
# '2018-01-03',
# '2018-01-04',
# '2018-01-05',
# '2018-01-06',
# '2018-01-07'
# ]

def date_range(start_date, end_date):
    date_range_list = []
    current_date = start_date
    current_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
    while current_date_dt <= end_date_dt:
        date_range_list.append(current_date)
        current_date_dt += timedelta(days=1)
        current_date = current_date_dt.strftime('%Y-%m-%d')
    return date_range_list

## Блок 05 - Расчёт lifetime

In [38]:
# Читаем содержимое файла module_08_data.tsv
import pandas as pd
data = pd.read_csv('module_08_data.tsv', sep='\t')
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [43]:
# Функция преобразования str в datetime формат
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [44]:
data['datetime'] = data.apply(convert_to_datetime, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

In [45]:
# Перевод времени в unix time format
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475691e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476031e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475620e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475692e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475280e+09

In [72]:
# Группируем dataframe по user_id и считаем разницу между min и max unixtime значениями 
data_grouped = data.groupby(by='user_id').agg(['min','max'])['unixtime']
data_grouped.head()

                  min           max
user_id
1010     1.475691e+09  1.475691e+09
1036     1.476031e+09  1.476031e+09
1041     1.475620e+09  1.475692e+09
1042     1.475280e+09  1.475927e+09
1047     1.475311e+09  1.475686e+09

In [77]:
data_grouped['diff'] = data_grouped['max'] - data_grouped['min']
data_grouped

                  min           max      diff
user_id
1010     1.475691e+09  1.475691e+09       0.0
1036     1.476031e+09  1.476031e+09       0.0
1041     1.475620e+09  1.475692e+09   71760.0
1042     1.475280e+09  1.475927e+09  647340.0
1047     1.475311e+09  1.475686e+09  374520.0
...               ...           ...       ...
1393     1.475714e+09  1.475714e+09       0.0
1394     1.475607e+09  1.475607e+09       0.0
1397     1.475626e+09  1.475626e+09       0.0
1398     1.475690e+09  1.475690e+09       0.0
1424     1.475323e+09  1.476045e+09  721380.0

[124 rows x 3 columns]

In [80]:
data_grouped.sort_values(by='diff', ascending=True)

                  min           max      diff
user_id
1010     1.475691e+09  1.475691e+09       0.0
1398     1.475690e+09  1.475690e+09       0.0
1354     1.475440e+09  1.475440e+09       0.0
1242     1.475602e+09  1.475602e+09       0.0
1355     1.475433e+09  1.475433e+09       0.0
...               ...           ...       ...
1218     1.475323e+09  1.476022e+09  699480.0
1108     1.475278e+09  1.475984e+09  705780.0
1207     1.475320e+09  1.476029e+09  708840.0
1424     1.475323e+09  1.476045e+09  721380.0
1246     1.475278e+09  1.476043e+09  765120.0

[124 rows x 3 columns]

In [99]:
data_mean = data_grouped.query('diff > 0').mean()
data_mean

min     1.475491e+09
max     1.475792e+09
diff    3.011432e+05
dtype: float64

In [100]:
# Среднее значение lifetime
data_mean['diff']

301143.21428571426

In [105]:
# Пересчитываем его из секунд в дни
print(str(round(data_mean['diff']/3600/24, 1)) + ' дня, средний lifetime')

3.5 дня, средний lifetime